.App {
  text-align: center;
  margin: 2rem;
}

.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

#map {
  width: 60%;
  height: 500px;
}

.ant-badge-status-dot {
  width: 8px;
  height: 8px;
}